<div class="product-fda__img">
    {% if image != blank %}
        <div class="product-fda">
            {%
                render 'rimg',
                img: image,
                size: '150x150',
            %}                 
        </div> 
    {% endif %}
    <p>All LumiRed products are manufactured in our FDA registered facility. Our safe and reliable devices are FDA listed Class II devices.</p>
 </div>