{% comment %} <svg
  aria-hidden="true"
  focusable="false"
  role="presentation"
  xmlns="http://www.w3.org/2000/svg"
  width="23"
  height="24"
  fill="none"
  viewBox="0 0 23 24"
>
  <path d="M21 21L15.5 15.5" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
  <circle cx="10" cy="9" r="8" stroke="currentColor" stroke-width="2"/>
</svg> {% endcomment %}

<svg width="26px" height="26px" viewBox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Shape</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M11.4594586,0 C11.6821975,0.0194585987 11.9053503,0.0368471338 12.1278822,0.0589968153 C13.2054893,0.166277682 14.2588894,0.445842454 15.2478822,0.887022293 C16.5901115,1.48299363 17.7868153,2.29466561 18.8232962,3.33652866 C20.1657325,4.68600318 21.0397134,6.29775478 21.4911943,8.14321656 C21.7425,9.16976115 21.8638057,10.2105892 21.8224045,11.2675637 C21.7710484,12.5751898 21.4600943,13.8595382 20.9076433,15.0458439 C20.4393949,16.0601752 19.8221019,16.9761783 19.0988217,17.8240764 C19.0723248,17.8551274 19.0487261,17.8890764 19.012293,17.9366879 C19.1131051,18.0335669 19.2130892,18.1273408 19.3105892,18.2233917 C20.182638,19.0813641 21.0545488,19.9397505 21.9263217,20.798551 C23.1887845,22.0405892 24.4515234,23.2833174 25.7145382,24.5267357 C26.0919108,24.8993471 26.0687261,25.4570223 25.6696178,25.7925796 C25.3458599,26.064793 24.862293,26.0434713 24.5499204,25.7381369 C23.82388,25.026035 23.0993577,24.3128981 22.3763535,23.5987261 C21.1283811,22.3704883 19.8801327,21.1428025 18.6316083,19.9156688 C18.3540127,19.6428344 18.0760032,19.370621 17.7905414,19.0907484 C17.7093949,19.1476752 17.6294904,19.1998408 17.5537261,19.2575955 C16.1274522,20.3421709 14.5310191,21.0301911 12.7644268,21.3216561 C11.6465924,21.5060987 10.5225478,21.5377707 9.39746815,21.385621 C7.83808917,21.1748885 6.40229299,20.6263217 5.07248408,19.791672 C3.87826433,19.0394108 2.84426752,18.1153344 2.01624204,16.9687261 C1.14640127,15.7641561 0.59183121,14.4210987 0.26910828,12.9768153 C0.132457397,12.375341 0.047619209,11.7632595 0.0155254777,11.147293 C0.0121896286,11.1134314 0.00700674973,11.0797772 0,11.0464809 L0,10.1770541 C0.00579617834,10.1329618 0.0149044586,10.0890764 0.0171815287,10.0449841 C0.068295238,9.08798274 0.263274601,8.14414026 0.595557325,7.24522293 C1.12052548,5.81687898 1.92039809,4.55890127 2.94321656,3.4383758 C3.82280135,2.46920645 4.88110526,1.6788347 6.06011146,1.11058917 C7.26944268,0.526624204 8.54791401,0.192929936 9.88103503,0.0596178344 C10.1103981,0.0368471338 10.3403822,0.0207006369 10.5699522,0 L11.4594586,0 Z M10.9889331,1.66472784 C10.4479548,1.66585646 9.90796134,1.71092515 9.37428344,1.79950637 C8.31855096,1.9727707 7.31643312,2.3008758 6.38035032,2.82232484 C4.91474522,3.63855096 3.78490446,4.79902866 2.92127389,6.22571656 C2.14251592,7.5106051 1.73078025,8.90665605 1.69745223,10.4097293 C1.67240446,11.5259076 1.84877389,12.6131051 2.19426752,13.6731847 C2.67452229,15.1466561 3.48453822,16.4069108 4.64977707,17.4328344 C5.63781847,18.3022611 6.77200637,18.9207962 8.00928344,19.3532325 C9.62910828,19.9193949 11.2799841,20.0398726 12.9521815,19.6273089 C14.6661943,19.2043949 16.1628503,18.3699522 17.451672,17.1664172 C18.2569268,16.4143631 18.8922293,15.534793 19.336465,14.526258 C19.9651433,13.097914 20.2450159,11.6107803 20.1123248,10.0462261 C20.0113057,8.8563535 19.7007962,7.73106688 19.1644427,6.66767516 C18.4872558,5.32461783 17.5304724,4.22320594 16.2940924,3.36343949 C14.6995223,2.25636943 12.9395541,1.66101911 10.9889331,1.66472784 Z" id="Shape" fill="#060505" fill-rule="nonzero"></path>
    </g>
</svg>
