<div class="vm-button-container pxu-lia-element">
    <a href="{{ button_link }}" type="button" class="vm-button {% if button_color == 'red' %}vm-button--red{% else %}vm-button--white{% endif %}">
      <h6 class="vm-button_inner-text">{{ button_label }}</h6>
<!--       <span class="vm-button_inner-arrow">
        {% render 'vm-icons' with icon: 'arrow-right' %}       
      </span> -->
    </a>
  </div>