
<header class="page-masthead">
    <h1 class="page-title">
      {{ page.title }}
    </h1>
  </header>
<div class="page-content rte">
  {{ page.content }}
<!-- {{ section.settings.description }} -->
</div>


