<section class="vm-bundler-target-element site-footer-item test">
    <div id="bundler-target-element"></div>
    <div class="bundler-target-element-volume-discounts"></div>
</section>

{% schema %}
  {
    "name": "Custom bundler",
    "settings": [],
    "presets": [
        {
        "name": "Custom bundler",
        "category": "custom"
        }
    ]
  }
{% endschema %}